* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f5f7fa;
  color: #333;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
